#logo {
  margin-top:auto;
  height: 5vw;
  width: 5vw;
  overflow: hidden;
}
#logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar{
  display:flex;   
  background-color:#50699b; /* color code  */
  height:6vw;
  width:50%;
  margin-left:auto;
  margin-right: auto;
  font: var(--font-3);
}
.nav-heading {
  display: flex;
  max-height: 4vw;
  margin-left: 2vw;
  font-family: var(--font-3);
  font-size: 1.7vw;
}

.nav-heading a {
  text-decoration: none;
  color: inherit;
  font-weight: 450;
}
.nav-options ul{
  margin-top:4vw;
  display:flex;
  list-style-type: none;
  align-items:center;
}
.nav-options li{
  margin-right: 1vw;
  font-family: var(--font-1);
  font-weight:400;
  font-size:1vw;
}
.nav-options li a {
  text-decoration:solid;
  color: inherit;
}




